# Prettier Ignore
# See: https://prettier.io/docs/en/ignore.html

.husky/_/*
.yarn/*
coverage/*
node_modules/*

**/.gitkeep
**/*.pdf
**/*.png
.eslintignore
.env.*
.env
.github/.gitconfig
.gitignore
.markdownlintignore
.nycrc
.prettierignore
CHANGELOG.md
yarn.lock
